<div class="index-footer">
    <div class="index-footer-box">
        <a href="#">
            <div class="pic item1"></div>
            <div class="des">
                1小时售后派单响应
            </div>
        </a>
        <a href="#">
            <div class="pic item2"></div>
            <div class="des">
                1小时售后派单响应
            </div>
        </a>
        <a href="#">
            <div class="pic item3"></div>
            <div class="des">
                1小时售后派单响应
            </div>
        </a>
        <a href="#">
            <div class="pic item4"></div>
            <div class="des">
                1小时售后派单响应
            </div>
        </a>
    </div>
</div>