<!--第二级头部导航栏 开始-->
<section class="second-header-nav">
    <div class="wrap">
       <ul class="subnav-container">
           <li><a href="{% url 'phone' %}">
                <i class="i-phone"></i>
               <span>手机</span>
           </a></li>
           <li><a href="#">
               <i class="i-headset"></i>
               <span>耳机、音响</span>
           </a></li>
           <li><a href="#">
               <i class="i-shell"></i>
               <span>壳/后盖/膜</span>
           </a></li>
           <li><a href="#">
               <i class="i-usb"></i>
               <span>适配器/数据线</span>
           </a></li>
           <li><a href="#">
               <i class="i-suit"></i>
               <span>套装</span>
           </a></li>
           <li><a href="#">
               <i class="i-label"></i>
               <span>生活馆</span>
           </a></li>
       </ul>
    </div>
</section>
<!--第二级头部导航栏 结束-->