{% url 'OnePlus5' as OnePlus5 %}
{% url 'store' as store %}
{% url 'server' as server %}
{% url 'blog' as blog %}



<div class="header-mid">
            <ul>
                <li>
                    <a href="{{ OnePlus5 }}">
                       oneplus5
                        <i></i>
                    </a>
                </li>
                <li>
                    <a href="{{ store }}">
                       商城
                        <i></i>
                    </a>
                </li>
                <li>
                    <a href="{{ server }}">
                      服务
                        <i></i>
                    </a>
                </li>
                <li>
                    <a href="{{ blog }}">
                       博客
                        <i></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                       论坛
                        <i></i>
                    </a>
                </li>
            </ul>
        </div>

{#<div class="header-mid">#}
{#            <ul>#}
{#                {% if nav_list %}#}
{#                {% for nav in nav_list %}#}
{#                <li>#}
{#                    <a href="{{ nav.url }}">#}
{#                        {{ nav.NavName }}#}
{#                        <i></i>#}
{#                    </a>#}
{#                </li>#}
{#               {% endfor %}#}
{#            {% endif %}#}
{##}
{#            </ul>#}
{#        </div>#}