{% url 'OnePlus5' as OnePlus5 %}
{% url 'store' as store %}
{% url 'server' as server %}
{% url 'blog' as blog %}



<ul id="less768-ul">
    <li>
        <a href="{{ OnePlus5 }}">
           oneplus5
            <i></i>
        </a>
    </li>
    <li>
        <a href="{{ store }}">
           商城
            <i></i>
        </a>
    </li>
    <li>
        <a href="{{ server }}">
          服务
            <i></i>
        </a>
    </li>
    <li>
        <a href="{{ blog }}">
           博客
            <i></i>
        </a>
    </li>
    <li>
        <a href="#">
           论坛
            <i></i>
        </a>
    </li>
</ul>

{# <ul id="less768-ul">#}
{#        <li><a href="star-phone.html">oneplus5</a></li>#}
{#        <li><a href="/shop/templates/store.html">商城</a></li>#}
{#        <li><a href="/server/templates/service.html">服务</a></li>#}
{#        <li><a href="/blog/templates/bolg.html">博客</a></li>#}
{#        <li><a href="#">论坛</a></li>#}
{#    </ul>#}