{% load staticfiles %}
{% block bottom %}
<!--底部 开始-->
<div class="lowest-footer">
    <div class="link-msg-bg">
        <div class="link-msg">
            <div class="left">
                <ul>
                    <li>super产品</li>
                    <li><a href="#">OnePlus 5</a></li>
                    <li><a href="#">一加手机 3T</a></li>
                    <li><a href="#">一加手机 3</a></li>
                </ul>
                <ul>
                    <li>关于super</li>
                    <li><a href="#">了解super</a></li>
                    <li><a href="#">加入super</a></li>
                    <li><a href="#">H2OS</a></li>
                </ul>
                <ul>
                    <li>服务支持</li>
                    <li><a href="#">自助服务</a></li>
                    <li><a href="#">技术支持</a></li>
                    <li><a href="#">售后服务</a></li>
                    <li><a href="#">一加加多宝</a></li>
                </ul>
            </div>
            <div class="right">
                <h3>400-888-1111</h3>
                <a class="online-btn" href="#">在线客服</a>
            </div>
        </div>
    </div>
<div class="lowest-level">
        <div class="item">
        <span>© 2013-2017 OnePlus. All Rights Reserved. </span>
        <span><a href="#">(粤ICP备13088308号-1)</a></span>
        <span class="cnnic"><img src="{% static 'images/common/cnnic.png' %}" alt=""></span>
        <span class="sm"><img src="{% static 'images/common/sm.png' %}" alt=""></span>
        <span class="fr flag">Change location<a href="#"><img src="{% static 'images/common/starflag.png' %}" alt=""></a></span>
            <br/>
            <span class="record"><a href="#"><img src="{% static 'images/common/record.png' %}" alt="">粤公网安备 44030402000178号</a></span>
        </div>
    </div>
</div>
<!--底部 结束-->
<!--小屏幕下的底部 开始-->
<div class="less528-index-footer">
    <div class="list-msg">
        <ul class="top">
            <li>
                <div class="less528-footer-title"><span>super产品</span><span class="fr superfont icon-unfold color2"></span></div>
                <div class="less528-footer-content">
                    <p><a href="#">oneplus5</a></p>
                    <p><a href="#">superphone 3T</a></p>
                    <p><a href="#">superphone3</a></p>
                </div>
            </li>
            <li>
                <div class="less528-footer-title"><span>super产品</span><span class="fr superfont icon-unfold color2"></span></div>
                <div class="less528-footer-content">
                    <p><a href="#">oneplus5</a></p>
                    <p><a href="#">superphone 3T</a></p>
                    <p><a href="#">superphone3</a></p>
                </div>
            </li>
            <li>
                <div class="less528-footer-title"><span>super产品</span><span class="fr superfont icon-unfold color2"></span></div>
                <div class="less528-footer-content">
                    <p><a href="#">oneplus5</a></p>
                    <p><a href="#">superphone 3T</a></p>
                    <p><a href="#">superphone3</a></p>
                </div>
            </li>
        </ul>
        <div class="bottom">
            <div class="box">
                <div class="left">
                    <span>客服电话:</span><span>400-888-1111</span>
                </div>
                <div class="right">
                    <span>Change location</span><a href="#"><img src="{% static 'images/common/starflag.png' %}" alt=""></a>
                </div>
            </div>
            <a href="#">在线客服</a>
        </div>
    </div>
    <div class="lowest-level">
        <div class="left">
            <p><a href="#"><img src="{% static 'images/common/record.png' %}" alt="">粤公网安备 44030402000178号</a></p>
            <p>© 2013-2017 OnePlus. All Rights Reserved.</p>
            <p>备案号：<a href="#">粤ICP备13088308号-1</a></p>
        </div>
        <div class="mid"><a href="#"><img src="{% static 'images/common/cnnic.png' %}" alt=""></a></div>
        <div class="right"><a href="#"><img src="{% static 'images/common/sm.png' %}" alt=""></a></div>
    </div>
</div>
<!--小屏幕下的底部 结束-->
{% endblock %}