{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Star-Phone | 双摄更高清</title>
    <!--normalize-->
    <link rel="stylesheet" href="{% static 'scss/common/reset.css' %}">
    <!--common-->
    <link href="{% static 'scss/common/common.css' %}" rel="stylesheet">
    <!--font-->
    <link rel="stylesheet" href="{% static 'scss/common/iconfont.css' %}">
    <!--blog-->
    <link href="{% static 'scss/blog/blog.css' %}" rel="stylesheet">
    <!--blog home-->
    <link rel="stylesheet" href="{% static 'scss/blog/blog-home&news.css' %}">
</head>
<body>
{% include 'base-index-top.html' %}
<!--banner-->
<div class="banner banner-blog">
    <h2>STAR-PHONE<br>BLOG</h2>
</div>
<!--sub nav-->
<div class="sub-nav">
    <ul class="clearfix">
        {% for nav in navbars %}
            <li><a href="{{ nav.NavHref }}">{{ nav.NavName }}</a></li>
        {% endfor %}
{#        <li class="current"><a href="blog.html">博客</a></li>#}
{#        <li><a href="blog-video.html">视频</a></li>#}
{#        <li><a href="blog-picture.html">产品图片</a></li>#}
{#        <li><a href="blog-news.html">新闻</a></li>#}
    </ul>
</div>
<!--main-->
<div class="tab-page">
    <div class="page-container clearfix">
        <!--search box-->
        <div class="searchbox">
            <div class="searchbox-inner">
                <form action="">
                    <input class="input" type="text" title="search">
                    <button></button>
                </form>
            </div>
        </div>
        <!--article-->
        <div class="article">
            <!--article main-->
            <div class="article-inner">
                {% for article in article_list %}
                <div class="article-cell clearfix">
                    <div class="article-title"><a href="">{{ article.title }}</a></div>
                    <div class="article-source">
                        <span class="article-origin">
                            <span class="article-year">{{ article.date_publish | date:"Y. m. j" }}
                                <span class="article-time">{{ article.date_publish | date:"H:i"}}</span></span>
                            <span class="article-author">By: {{ article.author }}</span>
                        </span>
                        <ul class="article-share clearfix">
                            <li><a href="">
                                <i class="icon i-like"></i>
                                <span class="like-count">{{ article.collect_count }}</span>
                            </a></li>
                            <li><a href="">
                                <i class="icon i-praise"></i>
                                <span class="praise-count">{{ article.click_count }}</span>
                            </a></li>
                            <li class="share-way">
                                <i class="icon i-share"></i>
                                <ul class="clearfix">
                                    <li><a class="icon i-sina" href=""></a></li>
                                    <li><a class="icon i-qzone" href=""></a></li>
                                    <li><a class="icon i-douban" href=""></a></li>
                                    <li><a class="icon i-wechat" href=""></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <a class="img-wrap" href=""><img src="/uploads/{{ article.top_img }}" alt=""></a>
                    <div class="article-text">
                        {{ article.desc }}
                    </div>
                    <a class="article-more" href="">
                        <span class="more-icon">+</span>
                        MORE
                    </a>
                </div>
                {% endfor %}
            </div>
            <!--pagination-->
            {% include 'blog-pagination.html' %}
        </div>
        <!--recommendation-->
        <div class="recommendation">
            <h3>热点推荐</h3>
            <ul class="recommendation-inner">
                <li>
                    <a class="clearfix" href="">
                        <img src="{% static 'images/blog/90.jpg' %}" alt="">
                        <span class="recommendation-desc">
                            <span class="recommendation-desc-text">为什么 OnePlus 5 的灰色，要比以往更深一些？</span></span>
                    </a>
                </li>
                <li>
                    <a class="clearfix" href="">
                        <img src="{% static 'images/blog/90.jpg' %}" alt="">
                        <span class="recommendation-desc">
                            <span class="recommendation-desc-text">为什么 OnePlus 5 的灰色，要比以往更深一些？</span></span>
                    </a>
                </li>
                <li>
                    <a class="clearfix" href="">
                        <img src="{% static 'images/blog/90.jpg' %}" alt="">
                        <span class="recommendation-desc">
                            <span class="recommendation-desc-text">为什么 OnePlus 5 的灰色，要比以往更深一些？</span></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% include 'base-index-bottom.html' %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/headercontral.js' %}"></script>
</body>
</html>