{% extends 'base-index.html' %}
{% load staticfiles %}
{% block style-scss %}
    <!--blog-->
    <link href="{% static 'scss/blog/blog.css' %}" rel="stylesheet">
    <!--blog home-->
    <link rel="stylesheet" href="{% static 'scss/blog/blog-picture.css' %}">
{% endblock %}
{% block content_top %}
<div class="filter" id="filter"></div>
<!--banner-->
<div class="banner banner-picture">
    <h2>STAR-PHONE<br>PICTURE</h2>
</div>
<!--sub nav-->
<div class="sub-nav">
    <ul class="clearfix">
        {% for nav in navbars %}
            <li><a href="{{ nav.NavHref }}">{{ nav.NavName }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block content %}
<!--main-->
<div class="tab-page">
    <div class="page-container">
        <div class="picture-inner">
             {% for series in series_list %}
            <div class="picture-cell">
                <h3>{{ series.title }}</h3>
                <ul class="clearfix">
                    {% for picture in picture_list %}
                    {% if series.id == picture.series_id %}
                    <li><a href="picture_details/{{ picture.id }}"><img src="/uploads/{{ picture.img_url }}" alt="">
                        <p class="picture-desc">{{ picture.name }}</p></a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}