<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Star-Phone | 双摄更高清</title>
    <!--normalize-->
    <link rel="stylesheet" href="../scss/common/reset.css">
    <!--common-->
    <link href="../scss/common/common.css" rel="stylesheet">
    <!--font-->
    <link rel="stylesheet" href="../scss/common/iconfont.css">
    <!--blog-->
    <link href="../scss/blog/blog.css" rel="stylesheet">
    <!--blog home-->
    <link rel="stylesheet" href="../scss/blog/blog-picture.css">
</head>
<body>
<!--头部导航栏 开始-->
<header>
    <div class="header-wrap">
        <!--左边 开始-->
        <div class="header-left">
            <a href="index.html">
                <img class="img-responsive" src="../images/common/logo.png" alt="">
            </a>
        </div>
        <!--左边 结束-->
        <!--中间 开始-->
        <div class="header-mid">
            <ul>
                <li>
                    <a href="star-phone.html">
                        oneplus5
                        <i></i>
                    </a>
                </li>
                <li>
                    <a href="store.html">
                        商城
                        <i></i>
                    </a>
                </li>
                <li>
                    <a href="service.html">
                        服务
                        <i></i>
                    </a>
                </li>
                <li>
                    <a href="blog.html">
                        博客
                        <i></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        论坛
                        <i></i>
                    </a>
                </li>
            </ul>
        </div>
        <!--中间 结束-->
        <!--右边 开始-->
        <div class="header-right">
            <div class="search" id="index-search">
                <span></span>
            </div>
            <div class="shop-car">
                <span></span>
            </div>
            <div class="user">
                <span></span>
            </div>
        </div>
        <!--右边 结束-->
        <!--点击搜索按钮 开始-->
        <div class="search-hidden">
            <div class="top">
                <div class="hidden-input">
                    <form action="">
                        <input type="button" placeholder="">
                        <input type="text">
                    </form>
                </div>
                <div class="delete-btn"></div>
            </div>
            <div class="bottom">
                <ul>
                    <li><a href="star-phone.htmml">oneplus5</a></li>
                    <li><a href="#">super快闪充电器</a></li>
                    <li><a href="#">oneplus 5保护壳</a></li>
                    <li><a href="#">电子发票</a></li>
                    <li><a href="#">纳税人识别号</a></li>
                </ul>
            </div>
        </div>
        <!--点击搜索按钮 结束-->
        <!--屏幕小于768 开始-->
        <div class="less768">
            <div class="shop-car"><span></span></div>
            <div class="user"><span></span></div>
            <div class="fold" id="header-fold"><span ></span></div>
        </div>
        <!--屏幕小于768 结束-->
    </div>
</header>
<!--头部导航栏 结束-->
<!--小屏幕下隐藏的部分 开始-->
<div class="less768-menu dn">
    <ul id="less768-ul">
        <li><a href="star-phone.html">oneplus5</a></li>
        <li><a href="store.html">商城</a></li>
        <li><a href="service.html">服务</a></li>
        <li><a href="blog.html">博客</a></li>
        <li><a href="#">论坛</a></li>
    </ul>
    <div class="arrow-down" id="less768-header-arrow-down">
        <i class="superfont icon-packup"></i>
    </div>
    <div class="less768-menu-form">
        <form action="">
            <input type="text" placeholder="搜索您的商品名称" id="less768-input-txt">
            <input type="submit" value="&nbsp;">
        </form>
    </div>
</div>
<!--小屏幕下隐藏的部分 结束-->
<div class="filter" id="filter"></div>
<!--banner-->
<div class="banner banner-picture">
    <h2>STAR-PHONE<br>PICTURE</h2>
</div>
<!--sub nav-->
<div class="sub-nav">
    <ul class="clearfix">
        <li><a href="blog.html">博客</a></li>
        <li><a href="blog-video.html">视频</a></li>
        <li class="current"><a href="blog-picture.html">产品图片</a></li>
        <li><a href="blog-news.html">新闻</a></li>
    </ul>
</div>
<!--main-->
<div class="tab-page">
    <div class="page-container">
        <div class="picture-inner">
            <div class="picture-cell">
                <h3>Star-Phone 星空系列</h3>
                <ul class="clearfix">
                    <li><a href=""><img src="../images/blog/star.png" alt="">
                        <p class="picture-desc">Star-Phone 星空黑</p></a></li>
                    <li><a href=""><img src="../images/blog/star.png" alt="">
                        <p class="picture-desc">Star-Phone 星空黑</p></a></li>
                </ul>
            </div>
            <div class="picture-cell">
                <h3>Star-Phone 星空系列</h3>
                <ul class="clearfix">
                    <li><a href=""><img src="../images/blog/star.png" alt="">
                        <p class="picture-desc">Star-Phone 星空黑</p></a></li>
                    <li><a href=""><img src="../images/blog/star.png" alt="">
                        <p class="picture-desc">Star-Phone 星空黑</p></a></li>
                </ul>
            </div>
            <div class="picture-cell">
                <h3>Star-Phone 星空系列</h3>
                <ul class="clearfix">
                    <li><a href=""><img src="../images/blog/star.png" alt="">
                        <p class="picture-desc">Star-Phone 星空黑</p></a></li>
                    <li><a href=""><img src="../images/blog/star.png" alt="">
                        <p class="picture-desc">Star-Phone 星空黑</p></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--底部 开始-->
<div class="lowest-footer">
    <div class="link-msg-bg">
        <div class="link-msg">
            <div class="left">
                <ul>
                    <li>super产品</li>
                    <li><a href="#">OnePlus 5</a></li>
                    <li><a href="#">一加手机 3T</a></li>
                    <li><a href="#">一加手机 3</a></li>
                </ul>
                <ul>
                    <li>关于super</li>
                    <li><a href="#">了解super</a></li>
                    <li><a href="#">加入super</a></li>
                    <li><a href="#">H2OS</a></li>
                </ul>
                <ul>
                    <li>服务支持</li>
                    <li><a href="#">自助服务</a></li>
                    <li><a href="#">技术支持</a></li>
                    <li><a href="#">售后服务</a></li>
                    <li><a href="#">一加加多宝</a></li>
                </ul>
            </div>
            <div class="right">
                <h3>400-888-1111</h3>
                <a class="online-btn" href="#">在线客服</a>
            </div>
        </div>
    </div>
    <div class="lowest-level">
        <div class="item">
            <span>© 2013-2017 OnePlus. All Rights Reserved. </span>
            <span><a href="#">(粤ICP备13088308号-1)</a></span>
            <span class="cnnic"><img src="../images/common/cnnic.png" alt=""></span>
            <span class="sm"><img src="../images/common/sm.png" alt=""></span>
            <span class="fr flag">Change location<a href="#"><img src="../images/common/starflag.png" alt=""></a></span>
            <br/>
            <span class="record"><a href="#"><img src="../images/common/record.png" alt="">粤公网安备 44030402000178号</a></span>
        </div>
    </div>
</div>
<!--底部 结束-->
<!--小屏幕下的底部 开始-->
<div class="less528-index-footer">
    <div class="list-msg">
        <ul class="top">
            <li>
                <div class="less528-footer-title"><span>super产品</span><span class="fr superfont icon-unfold color2"></span></div>
                <div class="less528-footer-content">
                    <p><a href="#">oneplus5</a></p>
                    <p><a href="#">superphone 3T</a></p>
                    <p><a href="#">superphone3</a></p>
                </div>
            </li>
            <li>
                <div class="less528-footer-title"><span>super产品</span><span class="fr superfont icon-unfold color2"></span></div>
                <div class="less528-footer-content">
                    <p><a href="#">oneplus5</a></p>
                    <p><a href="#">superphone 3T</a></p>
                    <p><a href="#">superphone3</a></p>
                </div>
            </li>
            <li>
                <div class="less528-footer-title"><span>super产品</span><span class="fr superfont icon-unfold color2"></span></div>
                <div class="less528-footer-content">
                    <p><a href="#">oneplus5</a></p>
                    <p><a href="#">superphone 3T</a></p>
                    <p><a href="#">superphone3</a></p>
                </div>
            </li>
        </ul>
        <div class="bottom">
            <div class="box">
                <div class="left">
                    <span>客服电话:</span><span>400-888-1111</span>
                </div>
                <div class="right">
                    <span>Change location</span><a href="#"><img src="../images/common/starflag.png" alt=""></a>
                </div>
            </div>
            <a href="#">在线客服</a>
        </div>
    </div>
    <div class="lowest-level">
        <div class="left">
            <p><a href="#"><img src="../images/common/record.png" alt="">粤公网安备 44030402000178号</a></p>
            <p>© 2013-2017 OnePlus. All Rights Reserved.</p>
            <p>备案号：<a href="#">粤ICP备13088308号-1</a></p>
        </div>
        <div class="mid"><a href="#"><img src="../images/common/cnnic.png" alt=""></a></div>
        <div class="right"><a href="#"><img src="../images/common/sm.png" alt=""></a></div>
    </div>
</div>
<!--小屏幕下的底部 结束-->
<script src="../js/jquery.min.js"></script>
<script src="../js/headercontral.js"></script>
</body>
</html>