{% extends 'base-index.html' %}
{% load staticfiles %}
{% block content %}
<!--第一部分主体 开始-->
 <section class="section-one">
        <a href="#">
        </a>
    </section>
<!--第一部分主体 结束-->
<!--第二部分主体 开始-->
<section class="section-two">
    <div class="section-two-box">
            <div class="item item1">
                <h2>OnePlus 5 个性保护壳</h2>
            </div>
            <div class="item item2">
                <h2>
                    花样晒单赢好礼
                </h2>
            </div>
            <div class="item item3">
                <h2 class="color1">极速闪充的黄金搭档</h2>
            </div>
    </div>
</section>
<!--第二部分主体 结束-->
<!--第三部分主体 开始-->
<section class="section-three">
    <h3>Shot&nbsp;&nbsp;on&nbsp;&nbsp;OnePlus</h3>
    <a class="index-btn" href="#"> <i></i><span>我要参加</span></a>
</section>
<!--第三部分主体 结束-->
<!--第四部分主体 开始-->
<section class="section-four">
    <div class="section-four-box">
    <a href="#">
        <img  src="{% static 'images/index/index-six.jpg' %}" alt="">
        <div class="tit-desc-panel">
        <h4>博客</h4>
        <p>为什么 OnePlus 5 的灰色，要比以往更深一些？</p>
        </div>
    </a>
    <a href="#">
        <img  src="{% static 'images/index/index-six.jpg' %}" alt="">
        <div class="tit-desc-panel">
            <h4>博客</h4>
            <p>为什么 OnePlus 5 的灰色，要比以往更深一些？</p>
        </div>
    </a>
    <a href="#">
        <img  src="{% static 'images/index/index-six.jpg' %}" alt="">
        <div class="tit-desc-panel">
            <h4>博客</h4>
            <p>为什么 OnePlus 5 的灰色，要比以往更深一些？</p>
        </div>
    </a>
    </div>
</section>
<!--第四部分主体 结束-->
<!--第五部分主体 开始-->
<div class="index-footer">
    <div class="index-footer-box">
            <a href="#">
                <div class="pic item1"></div>
                <div class="des">
                    1小时售后派单响应
                </div>
            </a>
            <a href="#">
                <div class="pic item2"></div>
                <div class="des">
                    1小时售后派单响应
                </div>
            </a>
            <a href="#">
                <div class="pic item3"></div>
                <div class="des">
                    1小时售后派单响应
                </div>
            </a>
            <a href="#">
                <div class="pic item4"></div>
                <div class="des">
                    1小时售后派单响应
                </div>
            </a>
    </div>
</div>
<!--第五部分主体 结束-->
{% endblock %}
