{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务</title>
    <link rel="stylesheet" href="{% static 'scss/common/reset.css' %}">
    <link rel="stylesheet" href="{% static 'scss/common/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'scss/common/common.css' %}">
    <link rel="stylesheet" href="{% static 'scss/service/service.css' %}">
    <link rel="stylesheet" href="{% static 'scss/service/media.css' %}">
</head>
<body>
    <div class="wrap">
        <!--头部导航栏 开始-->
        {% include 'base-index-top.html' %}
        <!--小屏幕下隐藏的部分 结束-->
        <div class="filter" id="filter"></div>
        <div class="service-content">
            <!--图片部分-->
            <section class="service-img">
                <div>
                    <h2>OnePlus Service</h2>
                </div>
            </section>
            <!--图片部分结束-->

            <!--导航部分-->
            <section class="service-nav">
                <nav class="service-nav-content">
                    <ul class="ser-nav-list">
                        <li class="list-li1">
                            <a href="#"><span></span><p>防伪查询</p></a>
                        </li>
                        <li class="list-li2">
                            <a href="#"><span></span><p>二减加多宝查询</p></a>
                        </li>
                        <li class="list-li3">
                            <a href="#"><span></span><p>资源下载</p></a>
                        </li>
                        <li class="list-li4">
                            <a href="#"><span></span><p>更多服务</p></a>
                        </li>
                    </ul>
                    <ul class="ser-nav-img">
                        <li class="img-li1">
                            <div>
                                <i></i>
                                <a href="#">
                                    <span class="img-logo">
                                        <h3></h3>
                                        <p>二减加多宝</p>
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li class="img-li2">
                            <div>
                                <i></i>
                                <a href="#">
                                    <span class="img-logo">
                                        <h3></h3>
                                        <p>二减医生</p>
                                    </span>

                                </a>
                            </div>
                        </li>
                    </ul>
                    <div class="ser-nav-div">
                        <div class="div-img">
                            <ul class="ser-nav-img">
                                <li class="img-li1">
                                    <div>
                                        <i></i>
                                        <a href="#">
                                    <span class="img-logo">
                                        <h3></h3>
                                        <p>二减加多宝</p>
                                    </span>
                                        </a>
                                    </div>
                                </li>
                                <li class="img-li2">
                                    <div>
                                        <i></i>
                                        <a href="#">
                                    <span class="img-logo">
                                        <h3></h3>
                                        <p>二减医生</p>
                                    </span>

                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="div-btn">
                            <ul>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                            <a href="#" class="nav-left-btn"></a>
                            <a href="#" class="nav-right-btn"></a>
                        </div>
                    </div>
                </nav>
            </section>
            <!--导航部分结束-->

            <!--售后服务-->
            <section class="service-customer">
                <div class="ser-cus-content">
                    <h2>售后服务</h2>
                    <h3>退货及维修，可以在这里帮到您</h3>
                    <div class="ser-cus-btn">
                        <button class="search-button">
                            <img src="{% static 'images/service/icon_search_small.png' %}">查询
                        </button>
                    </div>
                    <div class="ser-cus-div">
                        <div class="ser-cus-left">
                            <h4>二减官网购买</h4>
                            <p>二减官网购买产品的退换货、维修问题，进入您的个人中心获得帮助，也可以拨打二减服务电话 400-666-2222 联系我们。</p>
                            <img src="{% static 'images/service/icon-personal.png' %}">
                            <a href="#">查看个人中心</a>
                        </div>
                        <div class="ser-cus-right">
                            <h4>二减官网购买</h4>
                            <p>二减官网购买产品的退换货、维修问题，进入您的个人中心获得帮助，也可以拨打二减服务电话 400-666-2222 联系我们。</p>
                            <img src="{% static 'images/service/icon-process.png' %}">
                            <a href="#">查看个人中心</a>
                        </div>
                    </div>
                    <div class="ser-cus-div2">
                        <div class="ser-cus-div">
                            <div class="ser-cus-left">
                                <h4>二减官网购买</h4>
                                <p>二减官网购买产品的退换货、维修问题，进入您的个人中心获得帮助，也可以拨打二减服务电话 400-666-2222 联系我们。</p>
                                <img src="{% static 'images/service/icon-personal.png' %}">
                                <a href="#">查看个人中心</a>
                            </div>
                            <div class="ser-cus-right">
                                <h4>二减官网购买</h4>
                                <p>二减官网购买产品的退换货、维修问题，进入您的个人中心获得帮助，也可以拨打二减服务电话 400-666-2222 联系我们。</p>
                                <img src="{% static 'images/service/icon-process.png' %}">
                                <a href="#">查看个人中心</a>
                            </div>
                        </div>
                        <div class="div-btn">
                            <ul>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                            <a href="#" class="nav-left-btn"></a>
                            <a href="#" class="nav-right-btn"></a>
                        </div>
                    </div>
                </div>

            </section>
            <!--售后部分结束-->

            <!--常见问题-->
            <section class="service-question">
                <header>
                    <h2>常见问题</h2>
                    <form>
                        <input type="text" placeholder="请输入要搜索的内容" class="ser-ques-text">
                        <input type="submit" class="ser-ques-submit">
                    </form>
                </header>
                <ul>
                    <li><a href="#">电子发票</a></li>
                    <li><a href="#">纳税人识别号</a></li>
                    <li><a href="#">二减5性能如何</a></li>
                    <li><a href="#">二减5是全金属么</a></li>
                    <li><a href="#">二减5【二减加多宝】服务保障条款</a></li>
                    <li><a href="#">未付款的订单保存多久</a></li>
                    <li><a href="#">二减商城支持哪些在线支付方式</a></li>
                    <li><a href="#">什么情况下可以申请退货</a></li>
                    <li><a href="#">二减手机包装清单有哪些</a></li>
                    <li><a href="#">二减手机可以在哪些渠道购买</a></li>
                </ul>
                <a href="#" class="ser-ques-all">查看全部问题</a>
            </section>
            <!--常见问题结束-->

            <!--联系我们-->
            <section class="service-contact">
                <h2>联系我们</h2>
                <ul>
                    <li class="wx">
                        <a href="#"><span></span>微信</a>
                    </li>
                    <li class="qq">
                        <a href="#"><span></span>QQ</a>
                    </li>
                    <li class="wb">
                        <a href="#"><span></span>微博</a>
                    </li>
                    <li class="tel">
                        <a href="#"><span></span>400-666-22222</a>
                    </li>
                </ul>
            </section>
            <!--联系我们结束-->
        </div>
        <!--底部 开始-->
        {% include 'base-index-bottom.html' %}
        <!--小屏幕下的底部 结束-->
    </div>
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/headercontral.js' %}"></script>
</html>