{% extends 'index.html' %}
{% load staticfiles %}
{% block style-scss %}
    <link rel="stylesheet" href="{% static 'scss/common/reset.css' %}">
    <link rel="stylesheet" href="{% static 'scss/common/login.css' %}">
{% endblock %}
{% block content %}
    <div class="login sign">
        <div class="login_box">
            <!--<div class="login_container">-->
            <div class="login_input fl">
                <h2>注&nbsp;册</h2>
                <form action="{% url 'reg' %}" method="post">
                    {% csrf_token %}
                    <div class="login_info">
                        <label>
                            {{ reg_form.username }}
                        </label>
                        <label>
                            {{ reg_form.email }}
                        </label>
                        <label>
                            {{ reg_form.password }}
                        </label>
                        <label>
                            {{ reg_form.password2 }}
                        </label>
                    </div>
                        <div class="login_tips">
                            {% if reg_form.non_field_errors %}
                            {% for item in reg_form.non_field_errors %}
                                <span>{{ item }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="login_forget">
                            <a>忘记密码？</a>
                        </div>
                        <div class="sign_agree">
                            <span>注册二减，即表示同意二减的&nbsp;<a href="#">用户协议</a></span>
                        </div>
                        <div class="login_btn">
                            <a><input style="background-color: #eb0028;" type="submit" value="确&nbsp;认"></a>
                        </div>
                </form>
{#                <div class="login_sign">#}
{#                    <span>没有二减账号？<a>立即注册</a></span>#}
{#                </div>#}
                <a class="sign_login" href="/login">
                    <i></i>
                    <span>登录</span>
                </a>
            </div>
            <div class="login_share fr">
                <h2>选择其他方式登录</h2>
                <a class="login_qq">
                    <i></i>
                    <span>QQ 快捷登录</span>
                </a>
                <a>
                    <i></i>
                    <span>微博快捷登录</span>
                </a>
            </div>
            <!--</div>-->
        </div>
    </div>
{% endblock %}