//common
@mixin ser-nav-btn{
  position: absolute;
  top:50%;
  overflow: hidden;
  height: 26px;
  width: 16px;
  margin-top: -20px;
}

//service-img
@media screen and (max-width: 1200px){
  .service-img{
    height: 340px;
  }
}
@media screen and (max-width: 767px){
  .service-img{
    background: url("../../images/service/banner_small.jpg")center no-repeat;
    height: 250px;
    background-size: cover;
    div{
      h2{
        font-size: 40px;
      }
    }
  }
}
@media screen and (max-width: 640px){
  .service-img{
    height: 200px;
    div{
      h2{
        font-size: 30px;
      }
    }
  }
}
//service-img end

//service-nav
@media screen and (max-width: 640px){
  .service-nav-content{
    .ser-nav-list{
      margin: 0 auto 0 auto;
      li{
        width: 50%;
        margin-bottom: 50px;
      }
    }
  }
}
@media screen and (max-width: 767px){
  .service-nav-content{
    .ser-nav-img{
      display: none;
    }
    .ser-nav-div{
      display: block;
      .ser-nav-img{
        display: block;
        overflow: hidden;
        li{
          width: 673px;
          position: absolute;
        }
      }
    }
  }
  .service-nav-content{
    .ser-nav-div{
      position: relative;
      padding: 0 30px;
      .div-img{
        height: 260px;
        width: 100%;
        overflow: hidden;
      }
    }
  }
  .div-btn{
    ul{
      margin-top: 10px;
      text-align: center;
      li{
        width: 14px;
        height: 14px;
        display: inline-block;
        margin: 0 10px;
      }
    }
  }
  .div-btn{
    li{
      a{
        width: 12px;
        height: 12px;
        display: block;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #ccc;
      }
    }
    .active{
      background: #ccc;
    }
  }
  .div-btn{
    .nav-left-btn{
      background-image: url("../../images/service/serviceicons.png");
      background-position: 0 -26px;
      left: 0;
      @include ser-nav-btn;
    }
    .nav-right-btn{
      background-image: url("../../images/service/serviceicons.png");
      background-position: 0 0px;
      right: 0;
      @include ser-nav-btn;
    }
  }
}
//service-nav end

//service-customer
@media screen and (max-width: 767px){
  .service-customer{
    background: url("../../images/service/nserv-point-m.jpg")center top no-repeat #f3f3f3;
  }
  
  .ser-cus-content{
    .ser-cus-div{
      display: none;
      transition: 2s;
    }
  }
  .ser-cus-div2{
    display: block;
    position: relative;
      .ser-cus-div{
          display: block;
          //position: relative;
          padding: 0 30px;
          height: 330px;
          .ser-cus-left,.ser-cus-right{
            position: absolute;
            width: 673px;
            border-right: none;
          }

      }
  }
}
//service-customer end

//service-question
@media screen and (max-width: 640px){
    .service-question{
      header{
        height: auto;
        padding: 60px 0 30px;
        text-align: center;
        h2{
          line-height: 1em;
          margin: 0 auto 30px;
          float: none;
          text-align: center;
        }
        form{
          float: none;
          display: inline-block;
          margin: 0;
        }
      }
    }
}
@media screen and (max-width: 480px){
  .service-question{
    .ser-ques-text{
      width: 220px;
    }
  }
}
@media screen and (max-width: 800px){
  .service-question{
    ul{
      li{
        width: 94%;
        padding: 0 3%;
      }
    }
  }
}
//service-question end
//servive-contact
@media screen and (max-width: 780px){
  .service-contact{
    ul{
      li{
        width: 150px;
      }
    }
  }
}
@media screen and (max-width: 720px){
  .service-contact{
    height: auto;
    background: url("../../images/service/contactusbg-small.jpg");
    padding: 60px 0 30px;
    ul{
      li{
        width: 50%;
        display: block;
        float: left;
        margin-bottom: 60px;
      }
    }
  }
}